.container {
    max-width: 1300px;
    height: 100vh; /* Set the container to take the full viewport height */
    margin: 0 auto; /* Centers the container horizontally */
    display: flex; /* Use Flexbox for vertical and horizontal centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: lightgray; /* Optional for visibility */
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.column {
    background-color: aqua;
    padding: 1rem 0;
    gap:inherit;
    flex: 1
}

.userChoiceButton {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: bisque; /* Optional for visibility */
    width: 300px; /* Set the width of the button */
    height: 100px; /* Set the height of the button */
    font-size: 18px; /* Increase the font size for a bigger button */
    margin: 0 auto; /* This centers the button horizontally within its container */
    padding: 20px; /* Optional padding to make the button content more spaced */
    margin-bottom: 30px;
}